.cocktail-card-container {
    padding-top: 5rem;
    background-color: #282c34;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
    gap: 3rem;
    align-items: start;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cocktail-card {
    background-color: rgb(138, 138, 138);
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    border: 1px solid #696969;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    max-width: 450px;
    max-height: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .cocktail-title {
    margin-bottom: 1rem;
  }

  .cocktail-image {
    width: 100%;
    max-width: 400;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .cocktail-ingredients {
    margin-bottom: 1rem;
  }

  .cocktail-ingredients ul{
    list-style-type: none;
    padding: 0px;
  }
