/* navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #283b8b;
    padding: 0;
  }

  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: block;
    margin-right: auto;
  }


  .hamburger:hover {
    background-color: #2642af;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin-left: 30px;
  }

  .nav-links li:hover {
    color: aquamarine;
    font-weight: bold;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
  }

  /* Mobile styles */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .nav-links {
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #283b8b;
      overflow: auto;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
      transform: translateX(0);
    }

    .nav-links li {
      margin-bottom: 20px;
    }
  }

  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }
